/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');
/* common styles or utilities */
*{
    margin: 0;
    padding: 0;
}
body{
    background: #E5E5E5;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}
main{
  display: flex;  
  flex-direction: column;
  align-items: center;
}
.container{
    background: #FFFFFF;
    border-radius: 5px;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
}
/* header styles */
header{
    background:#562EFF;
    padding: 0 280px;
    margin-bottom: 24px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.brand{
    display: flex;
    align-items: center;
}
.logo{
    width: 40px;
    margin-right: 15px;
}
.brand-text{
    font-weight: 500;
    font-size: 24px;
    color: #fff;
}
.menu-items{
    display: flex;
    gap: 36px;
    align-items: center;
    color: #fff;
}
.menu-items li{
    list-style: none;
}
/* top-players styles */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    font-weight: 500;
    font-size: 24px;
    color: #562EFF;
    margin-top: 3px;
    margin-bottom: 35px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
/* --------------
    top blog styles
------------ */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;   
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-weight: 500;
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
}
.blog-author a{
    color: #562EFF;
    text-decoration: none;
}
/*----------------- 
    courses styles 
---------------------*/
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course{
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    padding: 12px;
}
.course-banner{}
.course-banner img{
    width: 224px;
    height: 104px;
}
.course-detail{}
.course-title{
    font-weight: 500;
    font-size: 20px;
    color: #1E1E1E;
}
.course-author{
    color: #ED6B4F;
    font-size: 15px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.course-duration{
    background: #FFE4E8;
    border-radius: 15px;
    padding: 5px;
    font-weight: 600;
    font-size: 15px;
    color: #FF4A60;
}
.course-duration i{
    font-size: 20px;
    margin-right: 5px;
}

/* ----------------- 
    Media Queries
--------------------*/

/* Mobile Devices */
@media only screen and (max-width:668px) {
    header{
        padding: 0 16px;
        width: 100%;
    }
    .navbar{
        justify-content: center;
    }
    .brand{
        display: none;
    }
    .menu-items {
        gap: 20px;
    }
    .container{
        width: 100%;
    }
    .top-players, .top-blogs, .courses{
        text-align: center;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .section-title{
        text-align: center;
    }
    .player, .blog{
        flex-direction: column; 
    }
   
}
/* Tablet Devices */
@media only screen and (min-width:668px) and (max-width:992px){
    .navbar{
        justify-content: center;
        gap: 100px;
    }
    .container{
        width: 100%;
    }
    .top-players, .top-blogs, .courses{
        margin: 0 40px;
    }
    .section-title{
        text-align: center;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(2, 1fr);
    }
    hr{
        margin-top: 25px;
    }
}
    

